{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.humbleui/humbleui {:git/url "https://github.com/HumbleUI/HumbleUI"
                                     :git/sha "edcdcd75959d8069a3b54e4f92b7a0ea04068661"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {}}
  :run {:main-opts ["-m" "session-repo.core"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "target/session-repo.jar"
                        :main-class session-repo.core}}}}
