{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.humbleui/humbleui {:git/sha "a6f3c3c1e8e3c4d8e3f7c1e8e3c4d8e3f7c1e8e3"
                                      :git/tag "1.19.0"}
        io.github.humbleui/jwm {:mvn/version "0.4.15"}
        io.github.humbleui/skija {:mvn/version "0.116.2"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}
                     cider/cider-nrepl {:mvn/version "0.50.2"}}}
  :run {:main-opts ["-m" "session-repo.core"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "target/session-repo.jar"
                        :main-class session-repo.core}}}}
